@charset "UTF-8";

ul {
	padding : 0 !important;
}

#subSideBar h2 {
	margin-bottom: 100px;
	font-weight: 600;
}
#subSideBar h4 {
	margin: 40px;
}
#main-container {
    margin : 50px;
}
#select {
    margin-bottom: 50px;
}

#total-table {
    width: 1000px;
    text-align: center;
}

#btn {                     
    display: inline-block;
    width: 1000px;   /* 테이블과 같은 너비 */
}
h3 {
    display: inline-block; /* 인라인 블록 요소로 변경 */
    width: 1000px; /* #list-table과 같은 너비로 설정 */
    text-align: center;
}
#vacation-btn {
    display: block;
    margin-top: 10px; /* 버튼과 h3 사이에 간격 추가 */
    float: right; /* 테이블 제일 오른쪽으로 */
}


#list-table {
    width: 1000px; 
    text-align: center;
}


#search-btn {
    width: 70px;
    height: 40px;
    background-color: rgba(60, 114, 221, 0.13);
    border-radius: 5px;
    border-color: rgba(60, 114, 221, 0.13);
}
#vacation-btn {
    background-color: rgba(60, 114, 221, 0.13);
    border-radius: 5px;
    border-color: rgba(60, 114, 221, 0.13);
    width: 150px;
    height: 50px;
    margin-bottom: 30px;
}

