@charset "UTF-8";

#main-box{
	width : 1430px;
	height : 780px;
	display: flex;
}
#main-box-left{
	margin-left: 30px;
	margin-top: 30px;	
}
#main-box-center{
	margin-left: 30px;
	margin-top: 30px;	
}
#main-box-right{
	margin-left: 30px;
	margin-top: 30px;	
}
.main-title{
    margin-left: 10px;
    font-weight: 600;
    font-size: 18px;
}


#main-user{
    width: 380px;
    height: 400px;
    background-color: #e1ffff;
	border: 1px solid gray;
}
	#main-user-img{
		width: 170px;
	    height: 130px;
	    border-radius: 50%;
	    margin-left: 85px;
	    margin-top: 15px;
	}
	#main-user-info-name{
		text-align: center;
	    font-size: 21px;
	    margin-top: 12px;
	    font-weight: 600;
	}
	#main-user-info-dept{
		text-align: center;
	    font-size: 18px;
	}
	.main-user-document{
		text-align: center;
	    margin-top: 10px;
	    font-size: 20px;
	}
	
#main-schedule{
    width: 730px;
    height: 602.79px;
    border: 1px solid gray;
}
#main-attendance{
    width: 380px;
    height: 330px;
    background-color: #e5ffe5;
    border: 1px solid gray;
}
#main-project{
	width: 380px;
    height: 360px;
    overflow-y: auto;
    background-color: #d2ffd2;
    margin-top: 90px;
    border: 1px solid gray;
}
#main-todo{
    width: 550px;
    height: 220px;
    overflow-y: auto;
    background-color: #ffffca;
    margin-top: 30px;
    border: 1px solid gray;
}
#main-notice{
    width: 380px;
    height: 430px;
    overflow-y: auto;
    background-color: #ffdfdf;
    margin-top: 90px;
    border: 1px solid gray;
}