<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.kh.teamhub.user.domain.User" alias="User"/>
		<typeAlias type="com.kh.teamhub.board.domain.Free" alias="Free"/>
		<typeAlias type="com.kh.teamhub.board.domain.FreeFile" alias="FreeFile"/>
		<typeAlias type="com.kh.teamhub.board.domain.FreePlus" alias="FreePlus"/>
		<typeAlias type="com.kh.teamhub.board.domain.Notice" alias="Notice"/>
		<typeAlias type="com.kh.teamhub.board.domain.NoticePlus" alias="NoticePlus"/>
		<typeAlias type="com.kh.teamhub.board.domain.Search" alias="Search"/>
		<typeAlias type="com.kh.teamhub.board.domain.Reply" alias="Reply"/>
		<typeAlias type="com.kh.teamhub.project.domain.Project" alias="Project"/>
		<typeAlias type="com.kh.teamhub.attendance.domain.Attendance" alias="Atten"/>
		<typeAlias type="com.kh.teamhub.attendance.domain.Vacation" alias="Vacation"/>
		<typeAlias type="com.kh.teamhub.schedule.domain.Schedule" alias="Schedule"/>
		<typeAlias type="com.kh.teamhub.todo.domain.Todo" alias="Todo"/>
		<typeAlias type="com.kh.teamhub.todo.domain.Memo" alias="Memo"/>
		<typeAlias type="com.kh.teamhub.approval.domain.Approval" alias="Approval"/>
		<typeAlias type="com.kh.teamhub.approval.domain.ApprovalJoinForm" alias="ApprovalJoinForm"/>
		<typeAlias type="com.kh.teamhub.user.domain.OrgUser" alias="OrgUser"/>
	</typeAliases>
	
	
</configuration>