<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.kh.teamhub.user.domain.User" alias="User"/>
		<typeAlias type="com.kh.teamhub.board.domain.Free" alias="Free"/>
		<typeAlias type="com.kh.teamhub.board.domain.FreeFile" alias="FreeFile"/>
		<typeAlias type="com.kh.teamhub.board.domain.FreePlus" alias="FreePlus"/>
		<typeAlias type="com.kh.teamhub.board.domain.Search" alias="Search"/>
		<typeAlias type="com.kh.teamhub.board.domain.Reply" alias="Reply"/>
	</typeAliases>
		
</configuration>