<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AttenMapper">
	<resultMap type="Atten" id="attenResultMap">
		<id property="atteNo" column="ATTE_NO"></id>
		<result property="userId" column="USER_ID" />
		<result property="atteDate" column="ATTE_DATE" />
		<result property="startTime" column="START_TIME" />
		<result property="finishTime" column="FINISH_TIME" />
		<result property="totalWorkHour" column="TOTAL_WORKHOUR" />
		<result property="atteStatus" column="ATTE_STATUS" />
	</resultMap>



	<select id="selectOne" resultMap="attenResultMap">
		SELECT * FROM ATTENDANCE_TBL WHERE TO_CHAR(ATTE_DATE, 'YY/MM/DD') = TO_DATE(TO_CHAR(SYSDATE, 'YY/MM/DD'), 'YY/MM/DD') and USER_ID = #{userId}
	</select>
	<!-- 출근 체크 -->
	<update id="updateGoToWork">
		UPDATE ATTENDANCE_TBL SET ATTE_STATUS = #{atteStatus}, START_TIME=#{startTime} WHERE TO_CHAR(ATTE_DATE, 'YY/MM/DD') = TO_DATE(TO_CHAR(SYSDATE, 'YY/MM/DD'), 'YY/MM/DD') and USER_ID = #{userId}
	</update>
	<!-- 퇴근체크 -->
	<update id="updateGoToHome">
		UPDATE ATTENDANCE_TBL SET ATTE_STATUS = #{atteStatus}, TOTAL_WORKHOUR=#{totalWorkHour}, FINISH_TIME=#{finishTime} WHERE ATTE_NO =#{atteNo}
	</update>
	<!-- 출퇴근 리스트 -->
	<select id="selectAtten" resultMap="attenResultMap">
		SELECT * FROM ATTENDANCE_TBL WHERE USER_ID = #{userId} AND TO_CHAR(ATTE_DATE,'YY/MM/DD') LIKE TO_CHAR(SYSDATE,'YY/MM')||'%' order by 3 DESC
	</select>
	<!-- 년/월 리스트 -->
	<select id="selectMonthByAtten" parameterType="Atten" resultMap="attenResultMap">
		SELECT * FROM ATTENDANCE_TBL WHERE USER_ID = #{userId} AND TO_CHAR(ATTE_DATE,'YYYY/MM/DD') LIKE #{date}||'%' ORDER BY ATTE_DATE DESC
	</select>
	
	
	<!-- 지각통계 -->
	<select id="selectStatus" resultType="int">
		SELECT COUNT(*) 
		FROM ATTENDANCE_TBL 
		WHERE USER_ID = #{userId} 
		AND ATTE_STATUS = '지각'
		AND TO_CHAR(ATTE_DATE,'YY/MM/DD') LIKE TO_CHAR(SYSDATE,'YY/MM')||'%'
	</select>
	<!-- 조퇴통계 -->
	<select id="selectStatus2" resultType="int">
		SELECT COUNT(*) 
		FROM ATTENDANCE_TBL 
		WHERE USER_ID = #{userId} 
		AND ATTE_STATUS = '조퇴'
		AND TO_CHAR(ATTE_DATE,'YY/MM/DD') LIKE TO_CHAR(SYSDATE,'YY/MM')||'%'
	</select>
	<!-- 출근통계 -->
	<select id="selectStatus3" resultType="int">
		SELECT COUNT(*) 
		FROM ATTENDANCE_TBL 
		WHERE USER_ID = #{userId} 
		AND ATTE_STATUS = '출근'
		AND TO_CHAR(ATTE_DATE,'YY/MM/DD') LIKE TO_CHAR(SYSDATE,'YY/MM')||'%'
	</select>
	
	<!-- datepicker로 선택한 월의 지각 -->
	<select id="selectListByLate" resultType="int">
		SELECT COUNT(*)
		FROM ATTENDANCE_TBL
		WHERE USER_ID = #{userId} AND ATTE_STATUS = '지각' AND TO_CHAR(ATTE_DATE,'YYYY/MM/DD') LIKE #{date}||'%'
	</select>
	<!-- datepicker로 선택한 월의 조퇴 -->
	<select id="selectListByEarly" resultType="int">
		SELECT COUNT(*)
		FROM ATTENDANCE_TBL
		WHERE USER_ID = #{userId} AND ATTE_STATUS = '조퇴' AND TO_CHAR(ATTE_DATE,'YYYY/MM/DD') LIKE #{date}||'%'
	</select>
	<!-- datepicker로 선택한 월의 출근 -->
	<select id="selectListByWork" resultType="int">
		SELECT COUNT(*)
		FROM ATTENDANCE_TBL
		WHERE USER_ID = #{userId} AND ATTE_STATUS = '출근' AND TO_CHAR(ATTE_DATE,'YYYY/MM/DD') LIKE #{date}||'%'
	</select>
	
</mapper>