<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="VacationMapper">
	<resultMap type="Vacation" id="vaResultMap">
		<id property="vacationNo" column="VACATION_NO"></id>
		<result property="userId" column="USER_ID" />
		<result property="vacationName" column="VACATION_NAME" />
		<result property="vacationDept" column="VACATION_DEPT" />
		<result property="vacationDivision" column="VACATION_DIVISION" />
		<result property="vacationCount" column="VACATION_COUNT" />
		<result property="vacationCreateDate" column="VACATION_CREATE_DATE" />
		<result property="vacationUsed" column="VACATION_USED" />
		<result property="vacationStart" column="VACATION_START" />
		<result property="vacationEnd" column="VACATION_END" />
		<result property="vacationContent" column="VACATION_CONTENT" />
		<result property="vacationState" column="VACATION_STATE" />
	</resultMap>
	
	<resultMap type="VacationUser" id="vaUserResultMap">
		<id property="vacationNo" column="VACATION_NO"></id>
		<result property="userId" column="USER_ID" />
		<result property="vacationName" column="VACATION_NAME" />
		<result property="vacationDept" column="VACATION_DEPT" />
		<result property="vacationDivision" column="VACATION_DIVISION" />
		<result property="vacationCount" column="VACATION_COUNT" />
		<result property="vacationCreateDate" column="VACATION_CREATE_DATE" />
		<result property="vacationUsed" column="VACATION_USED" />
		<result property="vacationStart" column="VACATION_START" />
		<result property="vacationEnd" column="VACATION_END" />
		<result property="vacationContent" column="VACATION_CONTENT" />
		<result property="vacationState" column="VACATION_STATE" />
		<result property="userName" column="USER_NAME" />
	</resultMap>
	
	<!-- 연차 리스트 -->
	<select id="selectVacationList" resultMap="vaResultMap">
		SELECT * FROM VACATION_TBL WHERE USER_ID = #{userId} AND TO_CHAR(VACATION_START, 'YYYY') LIKE TO_CHAR(SYSDATE,'YYYY') ORDER BY VACATION_END DESC
	</select>
	
	<select id="searchListByYear" resultMap="vaResultMap">
		SELECT * FROM VACATION_TBL
		<choose>
			<when test="searchCondition == '2023'">
				WHERE USER_ID = #{userId} AND TO_CHAR(VACATION_START, 'YYYY') = 2023 ORDER BY VACATION_END DESC
			</when>
			<when test="searchCondition == '2022'">
				WHERE USER_ID = #{userId} AND TO_CHAR(VACATION_START, 'YYYY') = 2022 ORDER BY VACATION_END DESC
			</when>
			<when test="searchCondition == '2021'">
				WHERE USER_ID = #{userId} AND TO_CHAR(VACATION_START, 'YYYY') = 2021 ORDER BY VACATION_END DESC
			</when>
			<when test="searchCondition == '2020'">
				WHERE USER_ID = #{userId} AND TO_CHAR(VACATION_START, 'YYYY') = 2020 ORDER BY VACATION_END DESC
			</when>
		</choose>
	</select>
	
	<!-- 관리자(연차) -->
	<select id="getVacationListCount" resultType="_int">
		SELECT COUNT(*) FROM VACATION_TBL 
	</select>
	<select id="selectVacation" resultMap="vaUserResultMap">
		SELECT * FROM VACATION_TBL V JOIN USER_TBL U ON V.USER_ID = U.USER_ID ORDER BY VACATION_END DESC
	</select>
	<select id="getSearchVacationListCount" resultType="_int">
		SELECT COUNT(*) FROM VACATION_TBL V JOIN USER_TBL U ON V.USER_ID = U.USER_ID WHERE USER_NAME LIKE '%' || #{searchValue} || '%'
	</select>
	<select id="selectVacationListByKeyword" resultMap="vaUserResultMap">
		SELECT * FROM VACATION_TBL V JOIN USER_TBL U ON V.USER_ID = U.USER_ID WHERE USER_NAME LIKE '%' || #{searchValue} || '%' ORDER BY VACATION_END DESC
	</select>
	
</mapper>