@font-face {
    font-family: 'RIDIBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*,
*::before,
*::after {
    font-family: 'RIDIBatang';
    box-sizing: border-box;
    margin : 0;
    padding : 0;
}
/* @font-face { */
/* 	font-family: 'Chosunilbo_myungjo'; */
/* 	src: */
/* 		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') */
/* 		format('woff'); */
/* 	font-weight: normal; */
/* 	font-style: normal; */
/* } */

/* * { */
/* 	font-family: 'Chosunilbo_myungjo'; */
/* 	font-weight: 600; */
/* } */

html {
    /* 스크롤 내리는 속도를 천천히 */
    scroll-behavior: smooth;
}


body {
    margin: 0;
    min-width: 320px;
}
a {
    text-decoration: none;
    color: inherit;
}
li {
    list-style: none;
}
input:focus{
    outline: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* #container{
    width: 100%;
} */

#sideBar {
    width: 250px;
    background-image: linear-gradient(78deg, #a1c4fd 0%, #c2e9fb 100%);
    overflow: hidden;
    position: fixed;
    height: 200vh;
    border-right: 1px solid #b3b1b1;
    font-size: 20px;
    font-weight: 600;
}
    #sideBarLogo {
        width: 250px;
        margin-top: 60px;
        margin-bottom: 60px;
    }

#subSideBar{
    height: 200vh;
    width: 250px;
    margin-left: 250px;
    padding-top: 100px;
    position: fixed;
    text-align: center;
    border-right: 1px solid #b3b1b1;
}
#header{
    width: calc(100% - 500px);
    height: 80px;
    position: fixed;
    margin-left: 500px;
    border-bottom: 1px solid #b3b1b1;
    z-index: 10;
    background-color: white;
}
main{
    width: calc(100% - 500px);
    padding-top: 80px;
    margin-left: 500px;
    z-index: 8;
    background-color: white;
}

#sideBar li {
	height: 75px;
}

#sideBar li a {
    display: block;
    color: #000;
    text-decoration: none;
    padding: 34px;
    height: 100%;
    line-height: 0;
}

#sideBar li a:hover {
    background-color: #2653e8ba;
    color: white;
}

.nav-item-selected {
  	background-color: #2653e8ba;
    color: white;
}
