<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ScheduleMapper">
	<resultMap type="Schedule" id="ScheduleResultMap">
		<id property="scheduleNo" column="SCHEDULE_NO"></id>
		<result property="userId" column="USER_ID" />
		<result property="scheduleKind" column="SCHEDULE_KIND" />
		<result property="deptCode" column="DEPT_CODE" />
		<result property="scheduleName" column="SCHEDULE_NAME" />
		<result property="scheduleColor" column="SCHEDULE_COLOR" />
		<result property="scheduleContent" column="SCHEDULE_CONTENT" />
		<result property="scheduleStart" column="SCHEDULE_START" />
		<result property="scheduleEnd" column="SCHEDULE_END" />
		<result property="scheduleAlram" column="SCHEDULE_ALRAM" />
	</resultMap>
	
	<!--  일정 등록 -->
	<insert id="insertSchedule">
		INSERT INTO SCHEDULE_TBL VALUES(SEQ_SCHEDULE_TBL.NEXTVAL, #{userId}, #{scheduleKind}, #{deptCode}, #{scheduleName}, #{scheduleColor}, #{scheduleContent}, #{scheduleStart}, #{scheduleEnd}, #{scheduleAlram})
	</insert>
	
	<!-- 전사 일정 조회 -->
	<select id="findAllEvents" resultMap="ScheduleResultMap">
		SELECT * FROM SCHEDULE_TBL WHERE SCHEDULE_KIND = '전사'
	</select>
	
	<!-- 부서 일정 조회 -->
	<select id="findDepartmentEvents" resultMap="ScheduleResultMap">
		SELECT * FROM SCHEDULE_TBL WHERE SCHEDULE_KIND = '부서' AND DEPT_CODE = #{deptName}
	</select>
	
	<!-- 개인 일정 조회 -->
	<select id="findPersonalEvents" resultMap="ScheduleResultMap">
		SELECT * FROM SCHEDULE_TBL WHERE SCHEDULE_KIND = '개인' AND USER_ID = #{userId}
	</select>
	
	
</mapper>