@charset "UTF-8";

a:hover{
	text-decoration: none !important;
}
#sideBar li:nth-child(7){
    background-color: #2653e8ba;			
}
#sideBar li:nth-child(7) a{
	color: white !important;
}
#subSideBar a:hover{
	text-decoration: none !important;
}
#subSideBar ul{
	text-align: left;
	padding-left: 40px;
    margin-top: 70px;
}
#subSideBar ul li{
	padding-bottom: 22px;
	font-size: 20px;
}

.createBtn{
	width: 200px;
    height: 60px;
    margin: 50px 0px;
    font-size: 21px;
    border-radius: 5px;
}

.thProject{
	font-weight: bold;
}

#contents-area{
	margin-left: 50px;
    margin-right: 50px;
	margin-top: 50px;
	height : 250px
}
#top-area{
	display: flex;
	justify-content: space-between;
}
#btn-area button{
	width: 64px;
	height: 46px;
	border: 1px solid #bebebe;
	border-radius: 5px;
}
.table{
	margin-top: 30px;
    font-size: 18px;
    --padding: 1rem;
}
.table td{
    font-size: 18px;
}
.titletxt{
	width: 200px;
	align-items: center;
	font-weight: bold;
}

#mid-area{
	margin-left: 60px;
    margin-right: 60px;
	height : 60px;
	padding: 15px 10px 15px 10px;
}
.progress-bar{
	height: 1.75rem !important;
}

#btm-area{
	margin: 20px 60px 0px 60px;
}
#kanban-area{
	--width: 100%;
	margin: 10px;
	padding: 10px;
	display: flex;
    border: 1px solid #ccc;
}
.col {
	width: 20%;
}
.kanban-wrap{
	--width: 100%;
	border: 1px solid #ccc;
	margin: 10px;
	padding: 20px;
	border-radius: 5px;
}
.kanban-wrap .btn-plus{
	border : none;
	background-color : white;
	text-align: right;
	font-size: 16px;
}
.kanban-wrap p{
	font-weight: bold;
	text-align: center;
	font-size: 16px;
	margin-top: 20px;
}
.kanban-wrap label{
	font-weight: bold;
}
.kanban-wrap input{
	width: 100%;
	border:none;
    border-bottom: 1px solid #bebebe;
    text-align: center;
}
.kanban-plus {
	display: flex; /* 부모 요소를 flex 컨테이너로 설정 */
  	align-items: center; /* 자식 요소를 수직 중앙 정렬 */
  	flex-wrap: nowrap;
  	justify-content: space-between;
}
.kanban-plus h5 {
	margin: 0px;
	font-size: 16px;
	font-weight: bold;
}
.btns-wrap {
	text-align: center;
}
.btns-wrap button{
	border: 1px solid #bebebe;
	border-radius: 5px;
}

/* .kanbanCloseBtn:before {
	content: "\f00d";
	color: white;
	font-size: 14px;
}
.kanbanCloseBtn {
	font-size: 0;
	padding: 0;
	width: auto;
	height: auto;
	background: none;
	position: absolute;
	right: 12px;
	top: 50%;
	transform: translateY(-50%);
}*/
/* .kanban {
	position: relative;
	width: 100%;
	cursor: pointer;
	margin: 10px 0;
} */
.kanbanCard {
	--width: 100%;
	margin: 10px;
	border-radius: 5px;
	border: 1px solid #bebebe;
}
.kanbanCard table{
	width: 90%;
	margin: 10px auto;
}
.kanbanHead {
	background-color: #748db8;
	color: white;
}
.kanbanHead td,
.kanbanBody td {
	padding: 5px 5px;
}
.exit {
	border : none;
	background-color: #748db8;
	color: white;
	font-size: 16px;
}
/* .section-modal {
	display : flex;
	display : none;
}
.section-alert,
.section-modal {
    z-index: 20;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    display: none;
    align-items: center;
    justify-content: center;
}
.section-modal_conts {
    position: relative;
    max-width: 800px;
    padding: 60px 30px 30px;
    background-color: #fff;
    font-size: 14px;
    line-height: 1.6;
    border: 1px solid #ccc;
}
.section-modal_conts h3 {
    margin-bottom: 20px;
    font-size: 20px;
}
.section-modal_conts ul li>label:first-of-type {
    display: inline-block;
    width: 70px;
}
.section-modal_conts ul li>div {
    display: inline-block;
}
.section-modal_conts ul li>div label {
    font-size: 14px;
}
.section-alert .bg-black,
.section-modal .bg-black {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .3);
} */
.progress-bar+h3 {
    font-size: 18px;
    text-align: right;
    font-weight: 300;
}
.progress-bar+h3 strong {
    font-weight: 700;
    color: #0b2a60;
}

