@charset "UTF-8";

a:hover{
	text-decoration: none !important;
}
#sideBar li:nth-child(7){
    background-color: #2653e8ba;			
}
#sideBar li:nth-child(7) a{
	color: white !important;
}
#subSideBar a:hover{
	text-decoration: none !important;
}
#subSideBar ul{
	text-align: left;
	padding-left: 40px;
    margin-top: 70px;
}
#subSideBar ul li{
	padding-bottom: 22px;
	font-size: 20px;
}

.createBtn{
	width: 200px;
    height: 60px;
    margin: 50px 0px;
    font-size: 21px;
    border-radius: 5px;
}

.thProject{
	font-weight: bold;
}

#contents-area{
	margin-left: 50px;
    margin-right: 50px;
	margin-top: 50px;
	height : 250px
}
#top-area{
	display: flex;
	justify-content: space-between;
}
#btn-area button{
	width: 64px;
	height: 46px;
	border: 1px solid #bebebe;
	border-radius: 5px;
}
.table{
	margin-top: 30px;
    font-size: 18px;
    --padding: 1rem;
}
.table td{
    font-size: 18px;
}
.titletxt{
	width: 200px;
	align-items: center;
	font-weight: bold;
}

#mid-area{
	margin-left: 60px;
    margin-right: 60px;
	height : 60px;
	padding: 15px 10px 15px 10px;
}
.progress-bar {
	width: 100%;
	height: 1.75rem !important;
	border: 1px solid #bebebe;
	border-radius: 10px;
}
.progress-bar .progress {
	width: 0; /* 나타내고자하는 퍼센트 값 */
	padding: 0;
	height: 1.75rem !important;
	background: linear-gradient(to right, #edf1fa, #546e9c);
	color: white;
	font-size: 16px;
	text-align: center;
}
.progress-bar p{
	margin: auto;
}

#btm-area{
	margin: 20px 60px 0px 60px;
}
#kanban-area{
	--width: 100%;
	margin: 10px;
	padding: 10px;
	display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.col {
	width: 20%;
}
.kanban-wrap{
	--width: 100%;
	border: 1px solid #ccc;
	margin: 10px;
	padding: 20px;
	border-radius: 5px;
}
.kanban-wrap .btn-plus{
	border : none;
	background-color : white;
	text-align: right;
	font-size: 16px;
}
.kanban-wrap label{
	display: inline-block;
  	width: 60px;
}
.kanban-wrap input{
	display: inline-block;
  	width: calc(100% - 60px); /* input 너비 조정 */
	border:none;
    border-bottom: 1px solid #bebebe;
    text-align: center;
    margin-bottom: 5px;
}
.kanban-plus {
	display: flex; /* 부모 요소를 flex 컨테이너로 설정 */
  	align-items: center; /* 자식 요소를 수직 중앙 정렬 */
  	flex-wrap: nowrap;
  	justify-content: space-between;
}
.kanban-plus h5 {
	margin: 0px;
	font-size: 16px;
	font-weight: bold;
}
.btns-wrap {
	text-align: center;
}
.btns-wrap button{
	border: 1px solid #bebebe;
	border-radius: 5px;
	width: 40px;
	height: 25px;
	font-size: 14px;
}
.kanbanCard {
	--width: 100%;
	margin: 10px;
	border-radius: 5px;
	border: 1px solid #bebebe;
}
.kanbanCard table{
	width: 90%;
	margin: 10px auto;
}
.kanbanHead {
	background-color: #748db8;
	color: white;
}
.kanbanHead td,
.kanbanBody td {
	padding: 5px 10px 5px 10px;
}
#exit {
	text-align: right;
}
.exit {
	border : none;
	background-color: #748db8;
	color: white;
	font-size: 16px;
}
