@charset "UTF-8";

a:hover{
	text-decoration: none !important;
}
#sideBar li:nth-child(7){
    background-color: #2653e8ba;			
}
#sideBar li:nth-child(7) a{
	color: white !important;
}
#subSideBar a:hover{
	text-decoration: none !important;
}
#subSideBar ul{
	text-align: left;
	padding-left: 40px;
    margin-top: 20px;
}
#subSideBar ul li{
	padding-bottom: 22px;
	font-size: 20px;
}

.createBtn{
	width: 200px;
    height: 60px;
    margin: 50px 0px;
    font-size: 21px;
    border: 1px solid #bebebe;
    border-radius: 5px;
}

.thProject{
	font-weight: bold;
}

#contents-area{
	margin-left: 50px;
    margin-right: 50px;
	margin-top: 50px;
}

.table, .table-hover{
	margin-top: 50px;
	text-align: center;
    font-size: 18px;
    padding: 1rem;
}
.table-hover th{
    font-size: 20px;
    border-top: normal;
}
.table th, tr{
    height: 50px;
    line-height : 2;
}	
#search-area{
	padding-top: 20px;
	text-align: center;
	border-bottom: none;
	line-height : normal;
}
#search-area select{
	width: 110px;
	height : 35px;
	border-style:none;
}
#search-area input[type=text]{
	width: 380px;
	height : 35px;
	border:none;
    border-bottom: 1px solid #bebebe;
}
#search-area input[type=submit]{
	width: 110px;
	height : 35px;
	border: 1px solid #bebebe;
	border-radius: 5px;
}