@charset "UTF-8";

ul {
	padding : 0 !important;
}
#subSideBar h2 {
	margin-bottom: 100px;
	font-size: 32px;
}
#subSideBar h4 {
	margin: 40px;
	font-size: 24px;
	font-weight: 500;
}

#main-top {
    margin-top: 50px;
}
#main-top {
    display: flex;
    justify-content: space-around;
}
#today {
    width: 50%;
    border: 1px solid black;
    padding: 10px;
    height: 400px;
    overflow-y: auto;
}
#today-title {
    display: flex;
    justify-content: space-between;
}
#today-list {
    padding: 10px;
    font-size: x-large;
}
#todo {
	font-size: 25px;
}
#add-button {
	width: 30px;
    height: 35px;
    font-size: 25px;
    background-color: #293a4b;
    color: white;
    border-radius: 5px;
}
.item {
  font-size: 2rem;
  padding: 0.5rem;
  border-bottom: 1px solid #d2cccc;
}
.item button {
	width: 100px;
    height: 40px;
    font-size: 20px;
    float : right;
    background-color: #293a4b;
    color: white;
    border-radius: 5px;
}
.item span {
	margin-left: 20px;
}

#month {
    width: 35%;
    border: 1px solid black;
    padding: 10px;
    height: 400px;
    overflow-y: auto;
}

#main-bottom {
    width: 92%;
    border: 1px solid black;
    margin-left: 4%;
}
#main-bottom {
    margin-top: 50px;
    padding: 10px;
    height: 500px;
}
#memo {
    padding: 20px;
    height: 500px;
}
#memo-title {
    display: flex;
    justify-content: space-between;
}
#memo h3 #memo h4 {
    display: inline;
}
